*{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}
*:focus
{
    outline: none;
}
body {
    width: 300px;
    height: 200px;
    font-family: "YouTube Sans",Arial, Helvetica, sans-serif;
    background-color: #f1f9f9;
    padding: 10px;
    text-align: center;
    margin: 0 ;


  }
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
  #url {
    word-wrap: break-word;
  }

  /* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

#app-cover
{
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.row
{
    display: table-row;
}

.toggle-button-cover
{
    display:flex;
    position: relative;
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    justify-content: center;
}

.button-cover
{
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before
{

    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 124px;
    height: 56px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 2 */
#button-2 .knobs:before, #button-2 .knobs:after
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 40px;
    height: 30px;
    color: #fff;
    /* font-size: 10px; */
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s ease all;
}

#button-2 .knobs:before
{
    content: url("images/youtube-shorts-logo-15251.png");
}

#button-2 .knobs:after
{
    content: url("images/youtube-123.png");
}

#button-2 .knobs:after
{
    right: -58px;
    left: auto;
    background-color: #F44336;
}

#button-2 .checkbox:checked + .knobs:before
{
    left: -58px;
}

#button-2 .checkbox:checked + .knobs:after
{
    right: 4px;
}

#button-2 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #143240;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}