@font-face {
    font-family: 'YouTube Sans';
    src: url('YouTube-Sans-Bold.woff2') format('woff2'),
        url('YouTube-Sans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YouTube Sans';
    src: url('YouTube-Sans-Light.woff2') format('woff2'),
        url('YouTube-Sans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YouTube Sans';
    src: url('YouTube-Sans-Medium.woff2') format('woff2'),
        url('YouTube-Sans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

